#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 > #backgroundBox {
  background-color: #F6F7F8;
  position: absolute;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 > #alignmentBox {
  position: relative;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 {
  position: absolute;
  width: 1287.0px;
  min-height: 788.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_1 {
  position: absolute;
  width: 652.0px;
  min-height: 789.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/66677de7-8d41-4091-92af-78f9c175d4ca.png');
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Polygon_1 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_1 {
  position: absolute;
  width: 24.799999237060547px;
  height: 28.644962310791016px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_8 {
  position: absolute;
  width: 200.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_8 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 600;
  text-transform: none;
  line-height: 25px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 600;
  text-transform: none;
  line-height: 25px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input::-webkit-input-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input::-moz-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input:-moz-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input:-ms-input-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 {
  position: absolute;
  width: 80.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input::-webkit-input-placeholder {
  color: #434343;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input::-moz-placeholder {
  color: #434343;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input:-moz-placeholder {
  color: #434343;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input:-ms-input-placeholder {
  color: #434343;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: none;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 .paddingLayer {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_7 {
  position: absolute;
  width: 19.5px;
  height: 13.2916259765625px;
  cursor: pointer;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 {
  position: absolute;
  width: 83.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 {
  position: absolute;
  width: 116.28571428571405px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'UTM Swiss 721 Black Condensed_0.0.0_system',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'UTM Swiss 721 Black Condensed_0.0.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 900;
  font-stretch: condensed;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'UTM Swiss 721 Black Condensed_0.0.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 900;
  font-stretch: condensed;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../../images/b88bd776-bd81-4336-b36e-160e2b841682.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../../images/6e38e042-4170-44b1-bda9-1e397dfd2505.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_1 {
  position: absolute;
  width: 18.259740259740397px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 {
  position: absolute;
  width: 148.0000000000001px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'UTM Swiss 721 Black Condensed_0.0.0_system',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1877F2;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #1877F2;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #1877F2;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #1877F2;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #1877F2;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'UTM Swiss 721 Black Condensed_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 900;
  font-stretch: condensed;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'UTM Swiss 721 Black Condensed_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 900;
  font-stretch: condensed;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Line_1 {
  position: absolute;
  width: 105.5px;
  height: 2.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Line_2 {
  position: absolute;
  width: 104.5px;
  height: 2.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 {
  position: absolute;
  width: 139.5px;
  min-height: 20.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 {
  position: absolute;
  width: 303.4999999999999px;
  min-height: 73.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'UTM Alberta Heavy_0.0.0_system',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 span {
  color: #31333C;
  text-align: center;
  text-decoration: none;
  font-family: 'UTM Alberta Heavy_0.0.0_system',Arial;
  font-size: 22.5pt;
  font-weight: 900;
  text-transform: none;
  line-height: 33px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'UTM Alberta Heavy_0.0.0_system',Arial;
  font-size: 22.5pt;
  font-weight: 900;
  text-transform: none;
  line-height: 33px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_4 {
  position: absolute;
  width: 11.039999008178711px;
  height: 10.804893493652344px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_5 {
  position: absolute;
  width: 17.887699127197266px;
  height: 9.31500244140625px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_6 {
  position: absolute;
  width: 5.065299987792969px;
  height: 10.329399108886719px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_8 {
  position: absolute;
  width: 17.97140121459961px;
  height: 9.31500244140625px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_10 {
  position: absolute;
  width: 23.000001907348633px;
  height: 22.86029815673828px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Text_1 span {
  color: #007EFF;
  text-align: left;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #007EFF;
  text-decoration: none;
  font-family: 'UTM Charlotte_0.0.0_system',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}